/* HomePage.css */

.blob-frame {
    width: 350px; /* Adjust the width to your desired size */
    height: 350px; /* Adjust the height to your desired size */
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;  /* Create a circular shape (a circle) */
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    overflow: hidden; /* Hide content outside the circle */
    display: flex; /* Display the blob-frame as a flex container */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    padding-top: 1rem;
    align-self: center;
    margin-top: -5rem;
}
  
.containerStyle {
    display: flex;
    height: 930px;
    opacity: 100%;
    background-image: url('../assets/homepage.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
}

.leftColumnStyle {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.greeting-heading {
    text-align: center;
    color: #111111;
    font-weight: bold; /* Make the text bold */
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    margin-top: 24px;
    margin-bottom: 80px;
}
.greeting-subheading {
    text-align: center;
    color: #111111;
    font-weight: 100; /* Make the text bold */
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-top: -20px;
}
.greeting-heading-role {
    font-weight: bold;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    margin-top: -90px;
    margin-bottom: 50px;
    text-align: center;
  
    /* Apply a gradient background to the text */
    background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text transparent to reveal the gradient */
  }
.rightColumnStyle {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .2);
}
.contact-icon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -100px;
}
.contact-icon img {
    width: 10%; /* Adjust width to leave some space between items */
    margin: 0 8px ; /* Add margin for spacing */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  .nav-hex {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    margin-left: 6px;
    overflow: hidden;
    position: relative;
    border-radius: 50%; /* Make it a circle */
}
.nav-hex-logo-1 {
    width: 100%;
    height: 100%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    background-color: #93DFFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-hex-logo-1 img {
    width: 20%;
    height: 20%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    background-color: #93DFFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-hex-logo-2 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color: #D8B0FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-hex-logo-2 img {
    width: 20%;
    height: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color: #D8B0FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-hex-logo-3 {
    width: 100%;
    height: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFDAC1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-hex-logo-3 img {
    width: 20%;
    height: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color: #FFDAC1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col1 {
    width: 3%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #21D4FD;
}
.col2 {
    width: 3%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #B721FF;
}
.col3 {
    width: 3%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.imageStyle { /* Corrected class name */
    max-width: 105%; /* Adjust the maximum width as needed */
    max-height: 105%; /* Adjust the maximum width as needed */
}
  