@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

.people-skills-container {
  display: flex;
  opacity: 100%;
  background-color: #ffffff;
  flex-direction: row;
}
.soft-skill-column {
  width: 100%;
  height: 930px;
  opacity: 100%;
}
.soft-skill-heading {
  width: 100%;
  height: 8rem;
  background-color: #ffffff;
  display: flex;
  align-items: start;
  justify-content: start; /* Horizontally space items at start and end */
  padding-left: 8rem;
}
.soft-skill-heading p {
  width: auto; /* Allow the paragraph to take its natural width */
  color: #000000;
  font-size: 64px;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}
.soft-skills-section {
  display: flex;
  flex-direction: column;
  height: 802px;
  justify-content: center;
}
.soft-skills-outer-row {
    display: inline-flex;
    transition: transform 0.5s ease;
    padding-left: 10rem;
    overflow-x: hidden;
}
.soft-skills-inner-row {
    display: inline-flex;
    overflow-x: hidden;
}
.soft-skill {
    flex: 0 0 auto; /* Prevent soft skills from shrinking */
    width: 320px;
    height: 640px; /* Adjusted height to fit hexagon */
    background-color: transparent;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
    border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
    border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
    border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.soft-skill-logo-1 {
  width: 100%; /* Adjust the width of the description */
  height: auto; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  background-image: url('../assets/skills/softSkill1.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Optional: Adjust the background size */
  background-position: center; 
}
.soft-skill-logo-2 {
  width: 100%; /* Adjust the width of the description */
  height: auto; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  background-image: url('../assets/skills/softSkill2.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Optional: Adjust the background size */
  background-position: center; 
}
.soft-skill-logo-3 {
  width: 100%; /* Adjust the width of the description */
  height: 100%; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */ 
  background-image: url('../assets/skills/softSkill3.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Optional: Adjust the background size */
  background-position: start; 
}
.soft-skill-logo-4 {
  width: 100%; /* Adjust the width of the description */
  height: 100%; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  background-image: url('../assets/skills/softSkill4.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Optional: Adjust the background size */
  background-position: center; 
}
.soft-skill-logo-5 {
  width: 100%; /* Adjust the width of the description */
  height: 100%; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
  background-image: url('../assets/skills/softSkill5.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover; /* Optional: Adjust the background size */
  background-position: center; 
}
.soft-skill-logo-6 {
    width: 100%; /* Adjust the width of the description */
    height: 100%; /* Adjust the height of the description */
    float: right; /* Float the description to the right */
    padding: 10px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding in the total width */
    background-color: #676767;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
    border-bottom-left-radius: 2rem; /* Adjust the border-radius to control the roundness */
    border-top-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
    border-bottom-right-radius: 2rem; /* Adjust the border-radius to control the roundness */
    background-image: url('../assets/skills/softSkill6.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Optional: Adjust the background size */
    background-position: center; 
  }
.soft-skill-header-container {
    height: 92%;
}
.soft-skill-logo-header, .soft-skill-logo-subheader{
    display: flex;
}
.soft-skill-logo-header p {
    color: #333336;
    font-size: 34px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    justify-items: flex-start;
    text-align: start;
    padding-left: 1rem;
    margin: 0;
}
.soft-skill-logo-subheader p {
    color: #333336;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: start;
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0;
}
.soft-skill-logo-header-wbg p {
    color: #ffffff;
    font-size: 34px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    justify-items: flex-start;
    text-align: start;
    padding-left: 1rem;
    margin: 0;
}
.soft-skill-logo-subheader-wbg p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: start;
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0;
}
.soft-skill-logo-card-seemore {
    display: flex;
    justify-content: flex-end;
    width: 100%; /* Adjusted width for the container */
}
.soft-skill-logo-card-seemore img {
    padding-right: 1rem;
    width: 35px;
    height: auto;
}