@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

.skills-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  background-color: transparent;
  padding: 0;
  background-color: #ffffff;
  flex-direction: column;
}

.skills-section {
  display: flex;
  flex-direction: row; /* Updated to row */
  height: 100%;
}

.soft-skill {
  width: 250px;
  height: 640px;
  background-color: #ffffff;
  transform: skew(-8deg);
  margin-left: 6px;
  overflow: hidden;
  position: relative;
  animation: slideIn 1s ease-in-out forwards; /* Use animation with a duration of 1s */
}

@keyframes slideIn {
  from {
    transform: translateX(-500%); /* Start off-screen to the left */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: skew(-8deg); /* Apply skew to the final position */
    opacity: 1; /* Start with opacity 0 */
  }
}

.soft-skill-heading {
  width: 100%;
  height: 90px;
  background-color: #343434;
  margin-bottom: 6px;
  justify-content: center;
}

.soft-skill-heading p {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 0; /* Remove default margin */
  position: relative;
  top: 50%; /* Move to the vertical center */
  transform: translateY(-50%) ; /* Adjust for centering */
  left: 40px; /* Adjust as needed */
}

.skill-heading {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-align: start;
  margin: 0; /* Remove default margin */
  position: absolute;
  top: 50%; /* Move to the vertical center */
  transform: translateY(-50%); /* Adjust for centering */
  left: 10px; /* Adjust as needed */
}

.soft-skill img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  transform: skew(8deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soft-skill-desc {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5); /* #111111 with 50% opacity */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.soft-skill:hover .soft-skill-desc {
  opacity: 1;
}

.soft-skill:nth-child(1) {
  animation-delay: 1.25s; /* No delay for the first element */
}
.soft-skill:nth-child(2) {
  animation-delay: 1s;
}
.soft-skill:nth-child(3) {
  animation-delay: .75s;
}
.soft-skill:nth-child(4) {
  animation-delay: .5s;
}
.soft-skill:nth-child(5) {
  animation-delay: .25s; /* No delay for the last element */
}







