@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

.skills-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  background-color: transparent;
  padding: 0;
  background-color: #ffffff;
  flex-direction: column;
}

.soft-skills-section {
  display: flex;
  flex-direction: row; /* Updated to row */
  height: 100%;
}
.technical-skills-section {
  display: flex;
  flex-direction: row; /* Updated to row */
  height: 100%;
  padding: .5rem;
}

.soft-skill {
  width: 300px;
  height: 300px; /* Adjusted height to fit hexagon */
  background-color: #ffffff;
  margin-left: 6px;
  overflow: hidden;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.technical-skill {
  width: 450px;
  height: 280px; /* Adjusted height to fit hexagon */
  background-color: #ffffff;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  animation: slideIn 1s ease-in-out forwards;
}

.technical-skill-heading {
  width: 100%;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 4rem;
  padding-left: 12rem;
}

.technical-skill-header {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: start;
  justify-content: center;
}
.soft-skill-heading {
  width: 100%;
  background-color: #343434;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 4rem;
  padding-left: 12rem;
}

.soft-skill-header {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: start;
  justify-content: center;
}

.skill-heading {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 0; /* Remove default margin */
  position: absolute;
  top: 50%; /* Move to the vertical center */
  left: 50%; /* Move to the horizontal center */
  transform: translate(-50%, -50%); /* Adjust for centering */
}

.tech-skill-logo {
  width: 40%; /* Adjust the width of the description */
  height: 100%; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 1rem; /* Adjust the border-radius to control the roundness */
}

.tech-skill-logo img {
  width: 80%; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.tech-skill-logo p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.tech-skill-desc {
  width: 60%; /* Adjust the width of the description */
  height: 100%; /* Adjust the height of the description */
  float: right; /* Float the description to the left */
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  border-top-right-radius: 1rem; 
  border-bottom-right-radius: 1rem; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tech-skill-desc img {
  width: 35%; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.grid-item {
  width: 50%; /* Adjust width to leave some space between items */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
.grid-item img {
  width: 50%; /* Adjust width to leave some space between items */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.centered-item {
  width: 80%; /* Take the full width of the container */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.tech-skill-desc p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: start;
  margin: 0; /* Remove default margin */
}

.soft-skill-logo {
  width: 100%; /* Adjust the width of the description */
  height: 100%; /* Adjust the height of the description */
  float: right; /* Float the description to the right */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
  background-color: #676767;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem; /* Adjust the border-radius to control the roundness */
  border-bottom-left-radius: 1rem; /* Adjust the border-radius to control the roundness */
}

.soft-skill-logo img {
  width: 40%; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}

.soft-skill-logo p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: center;
}








